<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 mt-3 bg-primary bg-primary">
                <div class="card-header">
                    <h5 class="card-title">Total Order</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 mt-3 bg-info">
                <div class="card-header">
                    <h5 class="card-title">Order Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3 mt-3 bg-warning bg-gradient-danger">
                <div class="card-header">
                    <h5 class="card-title">Order Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
</div>